								/*        Colors        */

$Psycho: 	#CFEB4F;
$Laos: 		#ABC95D;
$Mystic: 	#76B15F;

/* Greens */

$Frisco: 	#D0E3A1;
$Pistachio: #B8D470;
$Neon: 		#9FB92D;
$Guacamole: #7CA72F;
$Valley: 	#487728;
$Toscana: 	#2D4C27;
$Era: 		#1A3319;
$Amazonas: 	#152910;

/* JBH Colors */

$Lightgrey:	#666666;
$Grey:		#333333;
$DarkGrey:	#050505;

$RiverSand:	#DFDED3;
$Stone:		#b4b297;
$TanHide:	#858260;

$LiteOregon:#539356;
$Oregon:	#2E5230;
$DarkOregon:#122113;

$LiteBark:	#863713;
$Bark:		#461D0A;
$DarkBark:	#160903;


	/*        Color Roles        */

$BGcolor: 			$RiverSand;
$HeaderColor: 		$DarkGrey;
$MainBorder: 		$DarkGrey;

$LightestColor: 	$RiverSand;
$DarkestColor: 		$DarkGrey;

$LinkColor: 		$Oregon;
$LinkHoverColor: 	$LiteOregon;
$BtnColor: 			$Oregon;
$BtnHoverColor: 	$DarkOregon;
$MenuBtnColor: 		$Oregon;
$MenuBtnHoverColor: $DarkOregon;

$MainMenuItemColor: $RiverSand;
$MainMenuItemBG: 	$DarkGrey;
$MainMenuItemHoverColor: $DarkGrey;
$MainMenuItemHoverBG: 	$RiverSand;